<html>
    <body bgcolor="pink">
    </body>
</html>
.home-content{
	padding:10px 28px;
	font size:16px;
	backround-color:black;
	color:white;
	border-radius: 2px solid transparent;
}
.home-content h1{
	font-size:6rem;
	font-weight:700;
	line-height:8;
}
.home-content h2{
	font-size:6rem;
	font-weight:700;
	line-height:8;
}
.home-content h3{
	font-size:6rem;
	font-weight:700;
	line-height:8;
}
.home-content h4{
	font-size:6rem;
	font-weight:700;
	line-height:8;
}
.home-content h5{
	font-size:6rem;
	font-weight:700;
	line-height:8;
}
.logo{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.logo i{
    height: 45px;
    width:45px;
    background-color: #007ced;
    border-radius: 50%;
    color:#fff;
    font-weight: 700;
    font-size: 1.5rem;
    padding: 10px;
    margin-right: 5px;
    cursor: pointer;
    text-align: center;
    
}
.logo .logo-text{
    font-size: 24px;
    font-weight: 500;
    color:#fff;
