div-class{
	padding:10px 28px;
	font size:16px;
	backround-color:black;
	color:white;
	border-radius: 2px solid transparent;
}
.home-pic img{
    height: 100%;
    width:100%;
    transition: 0.5s;
}
.home-pic img:hover{
    transform: scale(1.2);
}
.home-text{
    max-width: 500px;
    display: flex;
    flex-direction: column;
}

.home{
	display:flex;
	justify-content:center;
	align-items:center;
	gap:8rem;
	backround-color:black;
	font weight: 600;
}
.home-content h1{
	font-size:6rem;
	font-weight:700;
	line-height:8;
}
.home-content h2{
	font-size:6rem;
	font-weight:700;
	line-height:8;
}
.home-content h3{
	font-size:6rem;
	font-weight:700;
	line-height:8;
}
.home-content h4{
	font-size:6rem;
	font-weight:700;
	line-height:8;
}
.home-content h5{
	font-size:6rem;
	font-weight:700;
	line-height:8;
}


